celery[redis,auth,msgpack]>=4.4.7
flask>=1.1.2
flask-cors>=3.0.10
flask-sock
flask-swagger-ui>=3.36.0
gevent
gunicorn
num2words
pyyaml>=5.4.1
requests>=2.26.0
speechbrain
transformers
wavio>=0.0.4
websockets
# git+https://github.com/openai/whisper.git
git+https://github.com/Jeronymous/whisper-timestamped.git