packaging==24.0
numpy==1.26.4
typing_extensions
celery[redis,auth,msgpack]>=4.4.7
flask>=1.1.2
flask-cors>=3.0.10
flask-sock
flask-swagger-ui==3.36.0
gevent
gunicorn
lockfile
pyyaml>=5.4.1
regex
requests>=2.26.0
wavio>=0.0.4
websockets
auditok<0.3.0
torchaudio
huggingface_hub
sox
nemo_toolkit[asr]==2.3.0
cuda-python>=12.3
hf_xet # to speedup downloads from HuggingFace