celery[redis,auth,msgpack]>=4.4.7
flask>=1.1.2
flask-cors>=3.0.10
flask-sock
flask-swagger-ui==3.36.0
gevent
gunicorn
lockfile
pyyaml>=5.4.1
regex
requests>=2.26.0
wavio>=0.0.4
websockets
auditok
#faster_whisper==1.0.1
# This is version faster_whisper==1.0.1 + option for (persistent) prompt + fix for large-v3
git+https://github.com/linto-ai/faster-whisper.git