celery[redis,auth,msgpack]>=4.4.7
flask>=1.1.2
flask-cors>=3.0.10
flask-swagger-ui==3.36.0
gevent>=22.10.2
gunicorn>=20.1.0
git+https://github.com/benob/mosestokenizer.git@169bd3a504fe20a3e51b9a7af3f0ca359c2d36c9
numpy==1.19.5
regex==2021.8.28
torch==1.9.0
transformers==4.10.0
